body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Montserrat";
    font-weight: 900;
}

p {
    margin: 0 20px 20px;
    color: #AAA492;
    padding: 15px;
}

/*Headings*/

.big-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/*Containers*/

.container-fluid {
    padding: 7% 15%;
}

/*Navigation Bar*/

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    color: #ffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    color: whitesmoke;
    margin: 0 18px 0 18px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/*Download Buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title section*/

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/*Title Image*/

.title-img {
    width: 60%;
    transform: rotate(20deg);
    margin-left: 50px;
    position: relative;
    left: 5%;
}

/*Features*/

#features {
    align-content: center;
    background-color: #ffff;
    position: relative;
    z-index: 1;
    bottom: 235px;
    margin-bottom: -90px;
}

#features .container-fluid {
    padding: 7% 3% 0;
}

.features-title {
    font-size: 25px;
}

.icon {
    color: #ef8172;
    padding: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonial section*/

#testimonials {
    background-color: #ef8172;
    color: #ffff;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/*Pricing*/

#pricing {
    padding: 100px;
}

.card {
    padding: 15px;
}

.card-title {
    font-size: 2.5rem;
    line-height: 1.5;
}

.card-header {
    background-color: #ffff;
}

.fw-normal {
    font-weight: 900!important;
}

/*CTA*/

#cta {
    background-color: #ff4c68;
}

.cta {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #ffff;
}

/*Footer*/

#footer {
    background-color: #ffff;
    margin: 50px;
}

.fa-brands, .fa-solid {
    padding-inline: 15px;
}

#footer .container-fluid{
    padding: 50px 0 0;
}

@media (max-width: 1020px) {

    #title {
        text-align: center;
    }

    .title-img {
        align-items: center;
        transform: rotate(10deg);
    }

    .card {
        width: 100%;
    }

    #pricing {
        padding: 15px;
        width: 100%;
    }
}